<html lang="kr">
    <head>
        <title> ChatBot </title>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1> Chatbot (with ChatGPT) </h1>
        <form action="/chat" method="POST">
            <label for="quest">질문</label>
            <input type="text" id="quest" name="answer" style="width: 600px;">
            <input type="submit" value="확인">
        </form>
    </body>
</html>

<!-- <h1>Chatbot (with ChatGPT) </h1>
<script src="./index.js"></script>
입력 <input type='text' id='input' placeholder='텍스트 입력' />
<input type='button' value="Click" onclick="work()" /> -->


<!-- <body>
    <h1> Chatbot (with ChatGPT) </h1>
    <input id="input" type="text" style="width: 600px;">
    <button id="button" onclick="onClick()">Submit</button>

    <script>
        const inputElement = document.querySelector('#input');
        const buttonElement = document.querySelector('#button');

        // 버튼 select
        const onClick = () => {
            alert(`Input Content: ${inputElement.value}`);
        }

        // enter 키
        inputElement.addEventListener('keydown', (event) => {
            if(event.key === 'Enter') {
                onClick();
            }
        });

    </script>
</body> -->